.vscode/
.venv/

__pycache__/
*.py[cod]

# groupFaces folder
groupedFaces/

# foundFaces folder
foundFaces/

# sortedPics folder
sortedPics/
sorted

# encodings
faceEncodings

# unknown
unknown

# dataset folder
dataset